		<!-- Blog --><div id = "blog">

			<!-- Content Inner -->
			<div class = "content-inner">

				<!-- Right Sidebar -->
				<div class = "right-sidebar">

					<div id = "search" class="block">
						<div class="block-content">
							<input type="text" name="search" class="input" value="Search..." onblur="if (this.value.length == 0) {this.value='Search...'; this.style='color: #849299';}" onfocus="if (this.value== 'Search...') {this.value=''; this.style='color: black';}">
							<input title="Search" type="button" name="search-button" class="input">
						</div>
					</div>

					<div id = "categories" class="block">
						<h2>Years</h2>
						<div class="block-content">
							<ul id = "blog-menu">
								<li class="first"><a href="#2013">2013</a></li>
								<li><a href="#2012">2012</a></li>
								<li class="last"><a href="#2011">2012</a></li>
							</ul>
						</div>
					</div>

				</div><!-- /Right Sidebar -->

				<!-- Content -->
				<div class = "content">

					<h2>Activities</h2>

					<!-- 2013 -->
					<div id = "2013"><h3>2013</h3>

						<div class = "blog-content">

							<div class="text-field blog">
								<div class="text-field-left">Aug 1<br/>-<br/>Aug 4</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="https://www.defcon.org/">Defcon XXI</a></span></div>
									<div class="meta"><span>Las Vegas, NV</span></div>
									<div>Attendee</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">July 30<br/>-<br/>Aug 1</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="http://www.bsideslv.org/">BSides</a></span></div>
									<div class="meta"><span>Las Vegas, NV</span></div>
									<div>Volunteer</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">Jul 17<br/>-<br/>Jul 21</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="http://www.comic-con.org/">Comic-Con</a></span></div>
									<div class="meta"><span>San Diego, CA</span></div>
									<div>Attendee</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">May 2<br/>-<br/>May 10</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="http://www.interop.com/">InterOP</a></span></div>
									<div class="meta"><span>Las Vegas, NV</span></div>
									<div>NOC Team Member</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">Feb 22<br/>-<br/>Feb 24</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="https://www.socallinuxexpo.org">Scale 11x</a></span></div>
									<div class="meta"><span>El Segndo, CA</span></div>
									<div>Attendee</div>
									<div class="text"></div>
								</div>
							</div>

						</div>

					</div><!-- /2013 -->

					<!-- 2012 -->
					<div id = "2012"><h3>2012</h3>

						<div class = "blog-content">

							<div class="text-field blog">
								<div class="text-field-left"><br/>-<br/></div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="">Green Festival</a></span></div>
									<div class="meta"><span>Los Angeles, CA</span></div>
									<div>Attendee</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left"><br/>-<br/></div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post">Fort Manning</span></div>
									<div class="meta"><span>Los Angeles, CA</span></div>
									<div>Organizer</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">May 15<br/>-<br/>May 24</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post">NATO / G8 Summit</span></div>
									<div class="meta"><span>Chicago, IL</span></div>
									<div>Human</div>
									<div class="text"></div>
								</div>
							</div>
<br />
							<div class="text-field blog">
								<div class="text-field-left">Apr 14<br/>-<br/>Apr 16</div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="http://www.acluca.org/">ACLU California Conference</a></span></div>
									<div class="meta"><span>Sacramento, CA</span></div>
									<div>Attendee - Scholarship Awardee</div>
									<div class="text"></div>
								</div>
							</div>

						</div>

					</div><!-- /2012 -->

					<!-- 2011 -->
					<div id = "2011"><h3>2011</h3>

						<div class = "blog-content">

							<div class="text-field blog">
								<div class="text-field-left"><br/>-<br/></div>
								<div class="text-field-right">
									<div class="title"><span class="blog-post"><a href="">Green Festival</a></span></div>
									<div class="meta"><span>Los Angeles, CA</span></div>
									<div>Attendee</div>
									<div class="text"></div>
								</div>
							</div>

						</div>

					</div><!-- /2011 -->

				</div><!-- /Content -->

			</div><!-- /Content Inner -->

			<!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

		</div><!-- /Blog -->
