		<!-- Blog --><div id = "blog">

			<!-- Content Inner -->
			<div class = "content-inner">

				<!-- Right Sidebar -->
				<div class = "right-sidebar">

					<div id = "search" class="block">
						<div class="block-content">
							<input type="text" name="search" class="input" value="Search..." onblur="if (this.value.length == 0) {this.value='Search...'; this.style='color: #849299';}" onfocus="if (this.value== 'Search...') {this.value=''; this.style='color: black';}">
							<input title="Search" type="button" name="search-button" class="input">
						</div>
					</div>

					<div id = "categories" class="block">
						<h2>Years</h2>
						<div class="block-content">
							<ul id = "blog-menu">
								<li class="first"><a href="#2013">2013</a></li>
								<li class="last"><a href="#2012">2012</a></li>
							</ul>
						</div>
					</div>

				</div><!-- /Right Sidebar -->

				<!-- Content -->
				<div class = "content">

					<h2>Activities</h2>

					<!-- 2013 -->
					<div id = "2013">

						<div class = "blog-content">

							<div class="text-field blog">
								<div class="text-field-left">2013<br/>Aug<br/>1-4</div>
								<div class="text-field-right">
									<div class="title"><a href="#blog" class="blog-post">Defcon XXI</a></div>
									<div class="meta"><span class="tag">Las Vegas, NV</span></div>
									<div class="text"></div>
								</div>
							</div>

						</div>

					</div><!-- /2013 -->

				</div><!-- /Content -->

			</div><!-- /Content Inner -->

			<!-- Cleaner --><div class="clear"></div><!-- /Cleaner -->

		</div><!-- /Blog -->
