
<div class="text-field blog">
	<div class="text-field-left">
		2013<br/>-<br/>
		Now
	</div>
	<div class="text-field-right">
		<div class="title">Member / Student</div>
		<div class="meta without-icon">
			<span class="tag">Droplabs Hackerspace</span>
		</div>
		<div class="text">
			<ul>
				<li><p>Accepted for Drupal 7 Module Development class</p></li>
			</ul>
		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2012<br/>-<br/>
		Now
	</div>
	<div class="text-field-right">
		<div class="title">Participant</div>
		<div class="meta without-icon">
			<span class="tag">SGV Linux User Group</span>
		</div>
		<div class="text">

		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2013<br/>-<br/>
		Now
	</div>
	<div class="text-field-right">
		<div class="title">Member</div>
		<div class="meta without-icon">
			<span class="tag">Electronic Frontier Foundation</span>
		</div>
		<div class="text">

		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2012<br/>-<br/>
		Now
	</div>
	<div class="text-field-right">
		<div class="title">Member / Web Administrator</div>
		<div class="meta without-icon">
			<span class="tag">Whittier Time Bank</span>
		</div>
		<div class="text">
			<ul>
				<li><p>Administer web host and domain, using tools such as cPanel and Google Webmaster Tools.</p></li>
				<li><p>Perform analytics with Piwik</p></li>
			</ul>
		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2012
	</div>
	<div class="text-field-right">
		<div class="title">Organizer</div>
		<div class="meta without-icon">
			<span class="tag">Free Bradley Manning SoCal</span>
		</div>
		<div class="text">
			<ul>
				<li><p>Promoted awareness of Bradley Manning's detention.</p></li>
				<li><p>Coordinated teach-ins with such people as Jodie Evans of Code Pink, Cenk Uygur of The Young Turks</p></li>
				<li><p>Coordinate event with LAPD and Homeland Security.</p></li>
				<li><p>Published press release.</p></li>
			</ul>
		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2009<br/>-<br/>
		Now
	</div>
	<div class="text-field-right">
		<div class="title">Web Communications Chair, President</div>
		<div class="meta without-icon">
			<span class="tag">Marijuana Anonymous – District 10</span>
		</div>
		<div class="text">
			<ul>
				<li><p>Administer web host and domain, using tools such as cPanel and Google Webmaster Tools</p></li>
				<li><p>Implement social media (Facebook, Twitter, etc).</p></li>
				<li><p>Implement social media (Facebook, Twitter, etc).</p></li>
			</ul>
		</div>
	</div>
</div>
