
<div class="text-field blog">
	<div class="text-field-left">
		2013<br />Jul 30 -<br />
		Aug 1
	</div>
	<div class="text-field-right">
		<div class="title">Volunteer</div>
		<div class="meta without-icon">
			<span class="tag">Bsides LV Conference</span>
		</div>
		<div class="text">

		</div>
	</div>
</div>

<br />

<div class="text-field blog">
	<div class="text-field-left">
		2013<br />May<br />
		2 - 10
	</div>
	<div class="text-field-right">
		<div class="title">NOC Team Member</div>
		<div class="meta without-icon">
			<span class="tag">InterOP Conference</span>
		</div>
		<div class="text">
			<ul>
				<li><p>Member of a team responsible for quick deployment of network infrastructure across conference room, exhibitor hall, and meeting rooms.</p></li>
				<li><p>Diagnosis network with Fluke tools: OptiView Network Analysis Tablet, OneTouch Network Assistant, LinkRunner Auto-Tester, and IntelliTone Toner & Probe</p></li>
				<li><p>Deployed wireless network with Xirrus access point arrays.</p></li>
				<li><p>Worked sided by side with engineers from a variety of major vendors such as Juniper, Avaya, F5 Networks, NetScout, Century Link, NetOptics</p></li>
			</ul>
		</div>
	</div>
</div>
